<div class="row">
 <div class="col-md-6">
   <h1>*ngIf</h1>

   <button type="button" class="btn btn-outline-primary main-button"
    (click) = "mostrar = !mostrar" >
     Mostrar/Ocultar
   </button>

   <div *ngIf="mostrar" class="card text-white bg-dark mb-3">
    <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">{{ frase.autor }}</h4>
        <p class="card-text">{{ frase.mensaje }}</p>
      </div>
   </div>

 </div>
 <div class="col-md-6">
   <h1>*ngFor</h1>
   <div class="list-group">

    <a *ngFor="let persona of personajes; let i = index" href="#" class="list-group-item list-group-item-action">
      {{i + 1}} . {{ persona }}
    </a>

  </div>
 </div>
</div>
